<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>html5boilerplate Bootstrap com Vue</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container-fluid mt-5">
        <div id="app">
            <div class="row">
                <div class="col-12 text-center">
                    <h1>My Daw TX</h1>
                </div>
            </div>
            <div class="faixa">
                <h4>Baixo</h4>
                <i class="bi bi-volume-up" id="muteButton1" @click="setMute" data-id="1"></i>
                <audio constrols @timeupdate="updateTime" id="audio1" data-color="rgb(255,0,0)" data-id="1">
                    <source src="audio_example/audio_example-bass.mp3" type="audio/mp3">
                    Seu navegador não suporta a tag de áudio.
                </audio>
                <canvas id="canvas1"></canvas>
            </div>
            <div class="faixa">
                <h4>Bateria</h4>
                <i class="bi bi-volume-up" id="muteButton2" @click="setMute" data-id="2"></i>
                <audio constrols @timeupdate="updateTime" id="audio2" data-color="rgb(255,255,0)" data-id="2">
                    <source src="audio_example/audio_example-drums.mp3" type="audio/mp3">
                    Seu navegador não suporta a tag de áudio.
                </audio>
                <canvas id="canvas2"></canvas>
            </div>
            <div class="faixa">
                <h4>Outros</h4>
                <i class="bi bi-volume-up" id="muteButton3" @click="setMute" data-id="3"></i>
                <audio constrols @timeupdate="updateTime" id="audio3" data-color="rgb(0,255,0)" data-id="3">
                    <source src="audio_example/audio_example-other.mp3" type="audio/mp3">
                    Seu navegador não suporta a tag de áudio.
                </audio>
                <canvas id="canvas3"></canvas>
            </div>
            <div class="faixa">
                <h4>Vocais</h4>
                <i class="bi bi-volume-up" id="muteButton4" @click="setMute" data-id="4"></i>
                <audio constrols @timeupdate="updateTime" id="audio4"  data-color="rgb(0,0,255)" data-id="4">
                    <source src="audio_example/audio_example-vocals.mp3" type="audio/mp3">
                    Seu navegador não suporta a tag de áudio.
                </audio>
                <canvas id="canvas4"></canvas>
            </div>

            <!-- VOLUME GERAL -->
            <div style="margin-top: 50px;">
                <!-- VOLUME GERAL -->
                <div class="d-flex align-items-center mb-5">
                    <i class="bi bi-volume-down"></i>
                    <input type="range" @input="alterarVolumeGeral" class="w-100 input-range" v-model="volumeGeral"
                        min="0" max="1" step="0.01" value="0.2" />
                    <i class="bi bi-volume-up"></i>
                </div>

                <!-- TEMPO -->
                <div class="d-flex align-items-center mb-5">
                    {{ formatCurrentTime(currentTime) }}<input type="range" min="0" :max="duration"
                        @input="atualizarTempoGeral" v-model="currentTime"
                        class="w-100 input-range">{{formatCurrentTime(Math.floor(duration))
                    }}
                </div>
            </div>


            <div class="text-center w-100 pb-4" style="position:fixed; bottom:0px;left:0px;">
                <div class="btn-group btn-group-lg" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-danger bg-play" id="btnPlay" @click="play"><i
                            class="bi bi-play-circle-fill"></i></button>
                    <button type="button" class="btn btn-secondary" id="btnMuteGeneral" @click="setMuteGeneral">
                        <i class="bi bi-volume-up"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                volumeGeral: 0.5,
                audioPlayers: [],
                duration: 0,
                currentTime: 0,
                faixas: [
                    {
                        id: 1,
                        nome: "Baixo",
                        src: "audio_example/audio_example-bass.mp3"
                    },
                    {
                        id: 2,
                        nome: "Bateria",
                        src: "audio_example/audio_example-drums.mp3"
                    },
                    {
                        id: 3,
                        nome: "Outros",
                        src: "audio_example/audio_example-other.mp3"
                    },
                    {
                        id: 4,
                        nome: "Vocais",
                        src: "audio_example/audio_example-vocals.mp3"
                    }
                ],
                audioPlayers: [],
                duration: 0,
                currentTime: 0
            },
            mounted() {
                this.audioPlayers = this.$refs.audioPlayers;
            },
            methods: {
                onAudioLoaded() {
                    this.duration = Math.floor(this.audioPlayers[0].duration);
                },
                onTimeInput() {
                    for (let i = 0; i < this.audioPlayers.length; i++) {
                        const audio = this.audioPlayers[i];
                        audio.currentTime = this.currentTime;
                        if (audio.paused) {
                            audio.play();
                        }
                    }
                },
                setMute(ev) {
                    const $this = ev.target;
                    const faixaId = $this.dataset.id;
                    console.log(faixaId);
                    var audio = document.getElementById("audio" + faixaId);
                    audio.muted = !audio.muted;
                    if (audio.muted) {
                        $('#muteButton' + faixaId).addClass('bi-volume-mute').removeClass('bi-volume-up');
                    } else {
                        $('#muteButton' + faixaId).addClass('bi-volume-up').removeClass('bi-volume-mute');
                    }
                },
                setTime(time) {
                    var audioTags = document.getElementsByTagName("audio");
                    var audioArray = Array.from(audioTags);
                    audioArray.forEach(function (audio) {
                        audio.currentTime = time;
                    });
                },
                alterarVolumeGeral(ev) {
                    const $this = ev.target;
                    const vol = $this.value;
                    var audioTags = document.getElementsByTagName("audio");
                    var audioArray = Array.from(audioTags);
                    audioArray.forEach(function (audio) {
                        audio.volume = vol;
                    });

                    this.faixas.forEach(function (faixa) {
                        faixa.volume = vol;
                    })
                },
                play(ev) {
                    const me = this;
                    var audioTags = document.getElementsByTagName("audio");
                    var audioArray = Array.from(audioTags);
                    let duration = 0;
                    audioArray.forEach(function (audio) {
                        duration = audio.duration;
                        if (audio.paused) {
                            audio.play();
                            $('#btnPlay').html('<i class="bi bi-pause-circle-fill"></i>');
                        } else {
                            audio.pause();
                            isPlaying = false;
                            $('#btnPlay').html('<i class="bi bi-play-circle-fill"></i>');
                        }
                        audio.volume = me.volumeGeral;
                    });

                    me.duration = duration;


                    var audioTags = document.getElementsByTagName("audio");
                    var audioArray = Array.from(audioTags);

                    audioArray.forEach(function (audio) {

                        const id = audio.dataset.id;
                        const rgba = audio.dataset.color;

                        // Obter referência para o elemento de áudio e o canvas
                        const canvas = document.getElementById('canvas' + id);
                        // // Configurar o contexto de áudio
                        const audioCtx = new AudioContext();
                        const src = audioCtx.createMediaElementSource(audio);
                        const analyser = audioCtx.createAnalyser();
                        src.connect(analyser);
                        analyser.connect(audioCtx.destination);

                        // Definir configurações de visualização do espectro de áudio
                        analyser.fftSize = 256;
                        const bufferLength = analyser.frequencyBinCount;
                        const dataArray = new Uint8Array(bufferLength);

                        // Configurar o canvas
                        const canvasCtx = canvas.getContext('2d');
                        const WIDTH = canvas.width;
                        const HEIGHT = canvas.height;

                        // Desenhar as ondas sonoras no canvas
                        function draw() {
                            requestAnimationFrame(draw);

                            analyser.getByteFrequencyData(dataArray);

                            canvasCtx.fillStyle = 'rgb(0, 0, 0)';
                            canvasCtx.fillRect(0, 0, WIDTH, HEIGHT);

                            const barWidth = (WIDTH / bufferLength) * 2.5;
                            let barHeight;
                            let x = 0;

                            for (let i = 0; i < bufferLength; i++) {
                                barHeight = dataArray[i];
                                // (barHeight + 100) +
                                canvasCtx.fillStyle = rgba;
                                canvasCtx.fillRect(x, HEIGHT - barHeight / 2, barWidth, barHeight / 2);

                                x += barWidth + 1;
                            }
                        }
                        draw();
                    });
                },
                setMuteGeneral() {
                    var audioTags = document.getElementsByTagName("audio");
                    var audioArray = Array.from(audioTags);
                    audioArray.forEach(function (audio) {
                        audio.muted = !audio.muted;
                        if (audio.muted) {
                            $('#btnMuteGeneral').html('<i class="bi bi-volume-mute"></i>');
                        } else {
                            $('#btnMuteGeneral').html('<i class="bi bi-volume-up"></i>');
                        }
                    });
                },
                formatCurrentTime(cTime) {
                    let minutes = Math.floor(cTime / 60);
                    let seconds = Math.floor(cTime % 60);
                    minutes = (minutes >= 10) ? minutes : "0" + minutes;
                    seconds = (seconds >= 10) ? seconds : "0" + seconds;
                    return minutes + ":" + seconds;
                },
                atualizarTempoGeral(ev) {
                    const $this = ev.target;
                    let thisDuration = $this.value;
                    var audioTags = document.getElementsByTagName("audio");
                    var audioArray = Array.from(audioTags);

                    audioArray.forEach(function (audio) {
                        audio.pause();
                        audio.currentTime = thisDuration;
                        setInterval(() => {
                            audio.play();
                        }, 100);
                    });
                },
                updateTime(ev) {
                    const $this = ev.target;
                    this.currentTime = $this.currentTime;
                },
            }
        });

    </script>
</body>

</html>
