 body {
     padding: 0px !important;
     margin: 0px !important;
     background: #222;
     color: #fff;
     font-family: 'Roboto', sans-serif;
 }

 img {
     width: 30px;
     height: 30px;
 }

 p {
     padding: 0;
     margin: 0;
 }

 audio {
     display: flex;
     width: 100%;
 }

 canvas {
     position: absolute;
     height: 100%;
     z-index: -1;
     width: 100%;
 }

 .faixa {
     padding-left: 10px;
     padding-right: 10px;
     border-bottom:1px solid lime;
     padding-top: 10px;
     padding-bottom: 10px;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     position: relative;
     background: transparent !important;
     color: #fff;
 }

 .faixa~input[type=range] {
     width: 100%;
     height: 5px;
 }

 .faixa input[type=range] {
     width: 40%;
     height: 5px;
 }

 .input-range {
     appearance: none !important;
     background-color: red !important;
     border-radius: 5px !important;
     outline: none !important;
     appearance: none !important;
     height: 1px !important;
     background-color: #666 !important;
     cursor: pointer !important;
 }

 .input-range::-webkit-slider-thumb {
     appearance: none !important;
     width: 20px !important;
     height: 20px !important;
     background-color: lime;
     outline: 2px solid #fff;
     border: 7px solid #111;
     border-radius: 50% !important;
     cursor: pointer !important;
 }

 /* .input-range::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        background: #000;
        border-radius: 50%;
        z-index: 1;
 } */

 .input-range::-moz-range-thumb {
     appearance: none !important;
     width: 20px !important;
     height: 20px !important;
     background-color: #666 !important;
     border-radius: 50% !important;
     cursor: pointer !important;
 }

 .btn-mute {
     float: right;
 }

 .icone {
     width: 45px;
     height: 45px;
     float: left;
     background: #222;
     padding: 10px;
     border-radius: 50%;
 }

 .bg-play {
     background-color: rgb(63, 0, 0) !important;
     outline: 0 !important;
     bottom: 0 !important;
 }
/*
 .box {
     position: relative;
     animation: slideLeft 10s ease-in infinite;
     z-index:-1000 !important;
 }

 @keyframes slideLeft {
     from {
         left: 110%;
     }

     to {
         left: -100%;
     }
 } */
